*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 33, 59);
}

header{
    max-width: 500px;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;   
    margin: auto;
    margin-top: 3%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 24px;
    margin-top: 20px;
}

form{
    margin-top: 30px;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.input-text::placeholder {
    color: #999999; /* Cor cinza para o texto do placeholder */
}

.input-text:focus {
    outline: 2px solid #00ff00; /* Cor da borda verde quando focado */
}

input{
    margin-top: 20px !important;
}
.btn{
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #000000a5;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(24, 33, 59);
}
.btn:hover {
    background-color: rgb(10, 15, 31);
}

hr {
    margin-top: 30px;
    border: none; 
    height: 1px; 
    background-color: #ffffff7c; 
}

section{
    color: #ffffff;
    margin: auto;
    max-width: 500px;
    margin-bottom: 60px;
}

footer {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Alinha horizontalmente ao centro */
    background-color: rgba(0, 0, 0, 0.491);
    height: 100px;
}

h2 {
    max-width: 600px;
    margin: 0; /* Remove a margem para permitir o alinhamento do flexbox */
    text-align: center;
    font-size: 12px;
    color: #ffffffbe;
}

a{
    color: #00ff00;
}
